@import './base.scss';
@import './fonts.scss';
@import './variables.scss';

html {
  position: relative;
}

#app {
  max-width: 128rem;
  color: $primary-black;
  background-color: $primary-white;
  font-family: $main-font;
  font-size: 1.2rem;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
